/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}
/* roboto-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}
/* Colors */
:root {
  --color-primery-white: #ffff;
  --color-primery-lightblue: #2b7fff;
  --color-primery-blue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */

body {
  color: var(--color-primery-blue);
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-weight: 400;
  font-size: 18px;
}
h2 {
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
}
/* 
h2.choice-section {
  text-align: center;
}
h2.procedures-section {
  text-align: center;
}
h2.find-section {
  text-align: center;
} */

a {
  display: inline-block;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1239px;
  margin: 0 auto;
}

/* Button */

.button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-primery-white);
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  border: 2px solid var(--color-primery-lightblue);
  background: var(--color-primery-lightblue);
  cursor: pointer;
}
.button:hover {
  color: var(--color-primery-blue);
  background: local;
}

/* Header */
.header {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-icons {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 32px;
}

/* Hero Section */

.hero-section {
  padding: 272px 0;
  background-image: url('../images/background_image.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.call-text {
  padding-top: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 238px;
  text-align: center;
}
.link {
  color: var(--color-primery-blue);
  text-decoration: none;
  font-size: 18px;
}
.link:hover {
  color: var(--color-primery-lightblue);
  font-weight: 700;
}

/* Perevtilennia Section */

.perevtilennia-content {
  display: flex;
  gap: 28px;
}

.perevtilennia-title {
  margin-bottom: 0;
}

.perevtilennia-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 38px; 
  gap: 40px;
}

.photo-before {
  border-radius: 50%;
}

.photo-after {
  border-radius: 50%;
}

.perevtilennia-text,
.perevtilennia-image {
  flex-basis: 50%;
}


.perevtilennia-section .accentblack {
  font-weight: 600;
}

/* Choice Section */

.choice-title {
  max-width: 432px;
  margin: 0 auto 48px;
}

.choice-list {
  display: flex;
  flex-basis: calc((100% - 56px) / 3);
  gap: 56px;
}

.choice-item {
  display: flex;
  height: 181px;
  width: 252px;
  padding: 24px 32px;
  flex-basis: 50%;
  align-items: flex-end;
  text-align: center;
  line-height: 24px; 
  font-size: 18px;
  border: 32px solid var(--color-primery-white);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: #FFF;
}

/* Procedures Section */

.procedures-card {
  height: 456px;
  padding: 24px;
  border-radius: 4px 120px;
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
}

.procedures-container {
display: flex;
justify-content: center;
align-items: center;
gap: 32px;
}

.procedures-list {
  display: flex;
  gap: 16px;
}

.procedure-title {
/* color: #FFF; */
text-align: center;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primery-blue);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primery-lightblue);
  border: 1px solid var(--color-primery-white);
  fill: var(--color-primery-white);
}
/* 
.carousel-button:hover {
  background-color: var(--color-primery-blue);
}

.carousel-arrow {
  fill: var(--color-primery-blue);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primery-white);
} */


/* Find Section */

.find-container {
  display: flex;
  gap: 32px;
  padding-bottom: 94px;
}

.find-title {
  margin: 0;
  padding-bottom: 48px;
}

.find-map {
  border-radius: 32px;
  border: none;
  flex-shrink: 0;
}

/* Footer */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu {
  flex-basis: 50%;
  gap: 20px;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-list,
.address-info {
  flex-basis: 50%;
}

.address-link {
  color: var(--color-primery-white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-primery-white);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-darkgrey);
  font-size: 13px;
}

.address-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--color-primery-white);
}
/* .address-icon:hover {
  background-color: var(--color-primery-white);
  border: 1px solid var(--color-primery-white);
  fill: var(--color-primery-blue);
} */

.footer {
  background-image: url('../images/background_bottom.svg');
  background-color: var(--color-primery-blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accent {
  color: var(--color-primery-lightblue);
}

.accent-title {
  color: #2b7fff;
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px;
}

